header {
    margin-top: 2%;
    background: blue;
    font-size: 50px;
}
header span {
    margin-left: 2%;
}

div ul li {
    list-style: none;
}

div form {
    text-align: center;
    margin-top: 100px;
}

label {
    font-size: 20px;
}

input,select {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 25px;
}

button[type=submit] {
    width: 80%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    font-size: 30px;
    cursor: pointer;
}

input[name=seasons_qt] {
    width: 90%;
    margin-right: 5%;
}

input[name=serie_name] {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

input[name=total_episodes_qt] {
    width: 90%;
    margin-right: 5%;
}

input[type=file] {
    text-align: center;
}

select[name=serie_status] {
    width: 80%;
}

.grid {
    display:grid;
    grid-template-columns: 50% 20% 20% 10%;
}