body {
    height: 1080px;
}

#add_serie_button {
    position: fixed;
    width: 50px;
    height: 50px;
    background: blue;
    top: 50%;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
}

#add_serie_button:hover {
    background: darkblue;
}

#add_serie_button button {
    color: white;
    cursor: pointer;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    font-size: 40px;
}

#add_serie_button button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

#add_serie_button button:active {
    outline: none;
    border: none;
}

#add_serie_button button:focus {
    outline: 0;
}

/* #list_header tr:nth-child(even) {
    background-color: blue;
} */

#status_background {
    background-color: green;
}

form {
    display: inline;
}


footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: black;
}

footer p {
    padding: 15px;
}